@media (min-width: 768px){
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  #lang-cn {
    text-align: center;
  }
  #lang-cn a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  #lang-en {
    text-align: center;
  }
  #lang-en a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  body {
    width: 90%;
  }
  .nav {
    width: 100%;
    padding-left: 210px;
  }
  .navbar {
    width: 100%;
<<<<<<< HEAD
=======
=======
  body {
    width: 100%;
  }
  .nav {
    width: 100%;
    display: block;
    padding-left: 250px;
    margin-top: 20px;
  }
  .navbar {
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    list-style: none;
  }
  .navbar li {
    float: left;
    font-family: Lato;
    font-size: 1rem;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    line-height: bolder;
<<<<<<< HEAD
=======
=======
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    padding: .5rem 1rem;
    margin-right: 10px;
    margin-bottom: 5px;
    height: auto;
<<<<<<< HEAD
    border: 2px solid;
=======
<<<<<<< HEAD
    border: 2px solid;
=======
    border: 1px solid;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    border-radius: 30px;
    vertical-align: center;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar li a {
    text-decoration: none;
    font-family: Lato;
    font-weight: bold;
    font-size: 15px;
    padding: .5rem 1rem;
    text-align: center;
    vertical-align: center;
  }
  .navbtn:link{
    text-decoration: none;
    color: #000}
  .navbtn:visited{
    text-decoration: none;
    color: #000}
  .navbtn:hover{
    text-decoration: none;
    color: #000}
  .navbtn:active{
    text-decoration: none;
    color: #000;}
  .homebtn {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: inline-block;
    padding-right: 50px;
    background: #e9ecef;
  }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  #home {
    width: 130px;
    height: 130px;
  }
  #navhome {
<<<<<<< HEAD
=======
=======
  .menu {
    width: 130px;
    height: 350px;
    list-style: none;
  }
  .menu li {
    width: 130px;
    height: 130px;
  }
  #home {
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    display: none;
  }
  #homebtn {
    height: 130px;
    width: 130px;
  }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  #fbtn {
    padding-left: 8px;
    padding-bottom: 100px;
    text-align: center;
  }
  #fbtn p{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
  }
  #fbtn a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
  }
  .menu {
    width: 75%;
    height: 350px;
    list-style: none;
  }
  .btt:link{
    text-decoration: none;
    color: #000}
  .btt:visited{
    text-decoration: none;
    color: #000}
  .btt:hover{
    text-decoration: none;
    color: #000}
  .btt:active{
    text-decoration: none;
    color: #000;}
<<<<<<< HEAD
=======
=======
  #fbtn{
    float: none;
    display:block;
    background: #000;
    border: 2px #000 solid;
    border-radius: 20px;
    height: 70px;
    margin: 20px 0px;
  }
  #fbtn p{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
  }
  .btt:link{
    text-decoration: none;
    color: #fff}
  .btt:visited{
    text-decoration: none;
    color: #fff}
  .btt:hover{
    text-decoration: none;
    color: #fff}
  .btt:active{
    text-decoration: none;
    color: #fff;}
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  p{
    padding:10px;
    text-decoration: none;
    font-family: lato;
    text-transform:uppercase;
    font-size: 12px;
<<<<<<< HEAD
    color: #000;
=======
<<<<<<< HEAD
    color: #000;
=======
    color: #333;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    float:left;
  }
  .social-gp{
    bottom: 0;
    position: relative;
    list-style: none;
    text-align: center;
    vertical-align: center;
  }
  .social-gp li {
    padding-bottom: 10px;
  }
  .social-gp a {
    color: #000;
    font-size: 25px;
<<<<<<< HEAD
    font-family: lato;
=======
<<<<<<< HEAD
    font-family: lato;
=======
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  }
  .copyright {
    bottom: 0;
    position: absolute;
    color: #000;
    font-family: Lato;
    font-size: 10px;
    font-weight: bold;
  }
<<<<<<< HEAD
  .content {
    width: 100%;
=======
<<<<<<< HEAD
  .content {
    width: 100%;
=======
  .copyright-bot{
    display: none;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  }
  .photos{
    padding-left: 250px;
  }
  .photos h1 {
    float: left;
    font-family: Lato;
    font-weight: bolder;
<<<<<<< HEAD
    width: 100%;
=======
<<<<<<< HEAD
    width: 100%;
=======
    width: 90%;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    background: #e9ecef;
    border: 1px solid;
    border-color: #e9ecef;
    border-radius: 30px;
    padding: .5rem 3rem;
    margin-top: 20px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    color: #000
  }
  .pic {
    /* width: 100%; */
    display: none;
  }
  /* .pic img {
    max-width: 300%;
    width: 100%;
  } */
  .table-pic {
    width: 100%;
  }
  .table-pic img {
    max-width: 300%;
    width: 100%;
<<<<<<< HEAD
=======
=======
  }
  .pic img {
    max-width: 100%;
    width: 45%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .pic {
    list-style: none;
    padding-left: 100px;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  }
  #Random {
    margin-bottom: 50px;
  }
<<<<<<< HEAD
  .social-gp-bot{
    display: none;
=======
<<<<<<< HEAD
  .social-gp-bot{
    display: none;
=======
  .copyright {
    bottom: 0;
    position: absolute;
    color: #000;
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  }
  .copyright-bot{
    display: none;
  }
}



<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c








/* mobile version */

@media (max-width: 768px){
  #lang-cn {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    text-align: center;
    margin-top: 25px;
    margin-right: 30px;
  }
  #lang-cn a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  #lang-en {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    text-align: center;
    margin-top: 25px;
    margin-right: 30px;
  }
  #lang-en a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  .menu{
    list-style: none;
    height: 80px;
    background: #e9ecef;
  }
  #home {
    display: none;
  }
  #navhome {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    margin-top: 25px;
  }
  #navhome a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
<<<<<<< HEAD
=======
=======
/* mobile version */

@media (max-width: 768px){
  .menu{
    list-style: none;
  }
  #home {
    color: #000;
    text-decoration: none;
    float: left;
    font-weight: bolder;
    font-size: 20px;
    font-family: Lato;
    vertical-align: center;
    text-align: center;
    padding-top: 10px;
    padding-left: 40px;
  }
  #home:link{
    text-decoration: none;
    color: #000;}
  #home:visited{
    text-decoration: none;
    color: #000;}
  #home:hover{
    text-decoration: none;
    color: #000;}
  #home:active{
    text-decoration: none;
    color: #000;}
  #homebtn{
    height: 50px;
    width: 50px;
    vertical-align: center;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  }
  #fbtn{
    display: none;
  }
  .social-gp{
    display: none;
  }
  .copyright{
    display: none;
  }
  .navbar{
    list-style: none;
  }
  .navbar li {
    font-family: Lato;
    font-size: 1rem;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    line-height: bolder;
<<<<<<< HEAD
=======
=======
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    padding: .5rem 1rem;
    margin-right: 10px;
    margin-bottom: 5px;
    height: auto;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    border: 2px solid;
    border-radius: 30px;
    vertical-align: center;
    -webkit-appearance: none;
    color: #000;
<<<<<<< HEAD
=======
=======
    border: 1px solid;
    border-radius: 30px;
    vertical-align: center;
    -webkit-appearance: none;
    color: #555;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar li a {
    text-decoration: none;
    font-family: Lato;
    font-weight: bold;
    font-size: 15px;
    padding: .5rem 1rem;
    text-align: center;
    vertical-align: center;
  }
  .navbtn:link{
    text-decoration: none;
    color: #000}
  .navbtn:visited{
    text-decoration: none;
    color: #000}
  .navbtn:hover{
    text-decoration: none;
    color: #000}
  .navbtn:active{
    text-decoration: none;
    color: #000;}
  .photos h1 {
    text-align: center;
    font-family: Lato;
<<<<<<< HEAD
    font-weight: bolder;
=======
<<<<<<< HEAD
    font-weight: bolder;
=======
    font-weight: normal;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
    width: auto;
    background: #e9ecef;
    border: 1px solid;
    border-color: #e9ecef;
    border-radius: 30px;
    padding: .5rem 3rem;
    margin-top: 20px;
  }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  .pic {
    width: 100%;

  }
  .pic img {
    max-width: 300%;
    width: 100%;
  }
  .table-pic {
    display: none;
<<<<<<< HEAD
=======
=======
  .pic img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .pic {
    list-style: none;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
>>>>>>> 15eec0c1e5b3099bfcc2e88cb3be2e774fb8fb8c
  }
  #Random {
    margin-bottom: 50px;
  }
  .social-gp-bot{
    text-align: center;
    vertical-align: center;
  }
  .social-gp-bot a{
    color: #000;
    padding-right: 10px;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
  }
  .copyright-bot{
    bottom: 0;
    position: relative;
    text-align: center;
    font-family: Lato;
    font-weight: bold;
  }
}
