@media (min-width: 768px){
  #lang-cn {
    text-align: center;
  }
  #lang-cn a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  #lang-en {
    text-align: center;
  }
  #lang-en a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  body {
    width: 90%;
  }
  .nav {
    width: 100%;
    padding-left: 210px;
  }
  .navbar {
    width: 100%;
    list-style: none;
  }
  .navbar li {
    float: left;
    font-family: Lato;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    line-height: bolder;
    padding: .5rem 1rem;
    margin-right: 10px;
    margin-bottom: 5px;
    height: auto;
    border: 2px solid;
    border-radius: 30px;
    vertical-align: center;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar li a {
    text-decoration: none;
    font-family: Lato;
    font-weight: bold;
    font-size: 15px;
    padding: .5rem 1rem;
    text-align: center;
    vertical-align: center;
  }
  .navbtn:link{
    text-decoration: none;
    color: #000}
  .navbtn:visited{
    text-decoration: none;
    color: #000}
  .navbtn:hover{
    text-decoration: none;
    color: #000}
  .navbtn:active{
    text-decoration: none;
    color: #000;}
  .homebtn {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: inline-block;
    padding-right: 50px;
    background: #e9ecef;
  }
  #home {
    width: 130px;
    height: 130px;
  }
  #navhome {
    display: none;
  }
  #homebtn {
    height: 130px;
    width: 130px;
  }
  #fbtn {
    padding-left: 8px;
    padding-bottom: 100px;
    text-align: center;
  }
  #fbtn p{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
  }
  #fbtn a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
  }
  .menu {
    width: 75%;
    height: 350px;
    list-style: none;
  }
  .btt:link{
    text-decoration: none;
    color: #000}
  .btt:visited{
    text-decoration: none;
    color: #000}
  .btt:hover{
    text-decoration: none;
    color: #000}
  .btt:active{
    text-decoration: none;
    color: #000;}
  p{
    padding:10px;
    text-decoration: none;
    font-family: lato;
    text-transform:uppercase;
    font-size: 12px;
    color: #000;
    float:left;
  }
  .social-gp{
    bottom: 0;
    position: relative;
    list-style: none;
    text-align: center;
    vertical-align: center;
  }
  .social-gp li {
    padding-bottom: 10px;
  }
  .social-gp a {
    color: #000;
    font-size: 25px;
    font-family: lato;
  }
  .copyright {
    bottom: 0;
    position: absolute;
    color: #000;
    font-family: Lato;
    font-size: 10px;
    font-weight: bold;
  }
  .content {
    width: 100%;
  }
  .photos{
    padding-left: 250px;
  }
  .photos h1 {
    float: left;
    font-family: Lato;
    font-weight: bolder;
    width: 100%;
    background: #e9ecef;
    border: 1px solid;
    border-color: #e9ecef;
    border-radius: 30px;
    padding: .5rem 3rem;
    margin-top: 20px;
    color: #000
  }
  .pic {
    /* width: 100%; */
    display: none;
  }
  /* .pic img {
    max-width: 300%;
    width: 100%;
  } */
  .table-pic {
    width: 100%;
  }
  .table-pic img {
    max-width: 300%;
    width: 100%;
  }
  #Random {
    margin-bottom: 50px;
  }
  .social-gp-bot{
    display: none;
  }
  .copyright-bot{
    display: none;
  }
}











/* mobile version */

@media (max-width: 768px){
  #lang-cn {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    text-align: center;
    margin-top: 25px;
    margin-right: 30px;
  }
  #lang-cn a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  #lang-en {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    text-align: center;
    margin-top: 25px;
    margin-right: 30px;
  }
  #lang-en a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  .menu{
    list-style: none;
    height: 80px;
    background: #e9ecef;
  }
  #home {
    display: none;
  }
  #navhome {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    /* margin-top: 25px; */
  }
  #navhome a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
  }
  #fbtn{
    display: none;
  }
  .social-gp{
    display: none;
  }
  .copyright{
    display: none;
  }
  .navbar{
    list-style: none;
  }
  .navbar li {
    font-family: Lato;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    line-height: bolder;
    padding: .5rem 1rem;
    margin-right: 10px;
    margin-bottom: 5px;
    height: auto;
    border: 2px solid;
    border-radius: 30px;
    vertical-align: center;
    -webkit-appearance: none;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar li a {
    text-decoration: none;
    font-family: Lato;
    font-weight: bold;
    font-size: 15px;
    padding: .5rem 1rem;
    text-align: center;
    vertical-align: center;
  }
  .navbtn:link{
    text-decoration: none;
    color: #000}
  .navbtn:visited{
    text-decoration: none;
    color: #000}
  .navbtn:hover{
    text-decoration: none;
    color: #000}
  .navbtn:active{
    text-decoration: none;
    color: #000;}
  .photos h1 {
    text-align: center;
    font-family: Lato;
    font-weight: bolder;
    width: auto;
    background: #e9ecef;
    border: 1px solid;
    border-color: #e9ecef;
    border-radius: 30px;
    padding: .5rem 3rem;
    margin-top: 20px;
  }
  .pic {
    width: 100%;

  }
  .pic img {
    max-width: 300%;
    width: 100%;
  }
  .table-pic {
    display: none;
  }
  #Random {
    margin-bottom: 50px;
  }
  .social-gp-bot{
    text-align: center;
    vertical-align: center;
  }
  .social-gp-bot a{
    color: #000;
    padding-right: 10px;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
  }
  .copyright-bot{
    bottom: 0;
    position: relative;
    text-align: center;
    font-family: Lato;
    font-weight: bold;
  }
}
