body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 400;
}

.jumbotron .container {
  max-width: 40rem;
}


#carouselExampleIndicators {
  height: 500px;
  width: 850px;
  margin: auto;
}

footer {
  padding-top: 10rem;
}
