.container{position:relative;width:100%;max-width:960px;margin:0 auto;padding:0 20px;box-sizing:border-box}
@media (min-width:400px){
.container{width:85%;padding:0}
}
@media (min-width:550px){
.container{width:80%}
}
p{margin-top:0}
a{color:#1eaedb}
a:hover{color:#0fa0ce}
#information h5{font-size:40px}
#information ul{list-style:none;padding:0vw}
#information li{margin:1px 0}
.content .header h4{background-color:#393b3c;color:#ebebeb;padding:5px 10px}
.content h4{padding-top:0;margin-bottom:5px}
.content ul{margin:0;margin-bottom:10px;padding:0vw;list-style-position:inside;list-style-type:circle}
.content li{margin:0}
.skills span{font-size:15px}
.langs ul{list-style-type:none}
.row{margin:1% 0}
.footer{width:100%;text-align:center;vertical-align:center;margin-top:2%}
.icons{text-align:center}
.footer-item{color:#393b3c;text-align:center;display:inline}
.footer-icon{color:#393b3c;font-size:2vw;padding:0 5px;text-decoration:none}
.footer-icon:hover{color:#393b3c}
.footer-icon::after{color:#393b3c}
.copyright{text-align:center}
.copyright span{color:#393b3c;font-size:1vw;font-weight:lighter}
body{margin-top:5px;margin-bottom:50px}
body li{font-weight:lighter}