body {
  height: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}
.nav-link {
  color: white;
}
.nav-link {
  text-decoration: none;
  font-weight: bolder;
}
.nav-link:hover {
  color: white;
}
.nav-link::after {
  color: white;
}
.content {
  text-align: right;
  vertical-align: middle;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.background-img {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: url('../pics/website-bgp.jpg');
  background-size: cover;
  opacity: .6;
}
.content-txt {
  color: black;
  vertical-align: center;
  padding: 100px 20px 100px 20px;
}
.caption {
  color: black;
  padding: 60px 0;
  font-size: 100px;
  font-weight: normal;
}
.cap-content {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #1E2335;
  text-align: right;
  display: inline;
  border: 3px solid #1E2335;
}
.option {
  width: 100%;
  min-height: 50vh;
  padding: 30px;
  text-align: center;
}
/* .option-txt p {
  text-align: center;
  font-size: 1vw;
  font-weight: normal;
}
.option-title {
  font-size: 2vw;
  font-weight: bold;
} */
.option-img {
  height: 100%;
  width: 70%;
  transition: .3s ease;
  backface-visibility: hidden;
  padding: 3px;
  border: 3px solid black;
  border-radius: 50%;
}
.option-item {
  margin-bottom: 10px;
  margin-top: 10px;
}
.option-gp:hover .option-img {
  opacity: .4;
}
.option-gp:hover .layer {
  opacity: 1;
}
.option-img:hover {
  opacity: .4;
  filter: alpha(opacity=40); /* for IE8 and earlier */
}
.layer {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.option-txt {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.footer {
  width: 100%;
}
.footer-item {
  float: right;
  color: white;
  font-size: 15px;
  float: right;
}
.copyright {
  float: left;
  left: 0;
  font-size: 12px;
  font-weight: bolder;
}
.footer-icon {
  float: right;
  right: 0;
  color: black;
  font-size: 20px;
  padding: 10px 5px;
  text-decoration: none;
}
.footer-icon:hover {
  color: black;
}
.footer-icon::after {
  color: black;
}

@media only screen and (min-width: 1200px) {
  .option-txt p {
    text-align: center;
    font-size: 1vw;
    font-weight: normal;
  }
  .option-title {
    font-size: 2vw;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1200px) {
  .content-txt {
    color: white;
    vertical-align: center;
    padding: 100px 20px 100px 20px;
  }
  .caption {
    color: white;
    padding: 60px 0;
    font-size: 100px;
    font-weight: normal;
  }
  .cap-content {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }
  .option-txt p {
    text-align: center;
    font-size: 3vw;
    font-weight: normal;
  }
  .option-title {
    font-size: 4.5vw;
    font-weight: bold;
  }
  .background-img {
    height: 90%;
    max-width: 100%;
    background-image: url('../pics/phone.jpeg');
  }
}
