@media (min-width: 768px){
  body {
    background: #ffffff;
  }
<<<<<<< HEAD
  #lang-cn {
    text-align: center;
    margin-bottom: 30px;
  }
  #lang-cn a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
    width: 100%;
  }
  #lang-en {
    text-align: center;
    margin-bottom: 30px;
  }
  #lang-en a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
    width: 100%;
  }
=======

>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  .cap {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px 100px;
  }

  h1 {
    text-align: center;
    font-size: 600%;
    font-weight: bolder;
    font-family: Lato;
<<<<<<< HEAD
    color: #000;
=======
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  h6 {
    text-align: center;
    font-weight: bolder;
    font-family: Lato;
<<<<<<< HEAD
    color: #000;
=======
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  h3 {
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    font-family: Lato;
    font-variant: small-caps;
<<<<<<< HEAD
    color: #000;
  }

  h3 a {
    border-bottom: solid 2px #000;
=======
  }

  h3 a {
    border-bottom: solid 2px #333;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  .table{
    margin-right: 100px;
    vertical-align: center;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .list-inline {
    background: #e9ecef;
    list-style-type: none;
    margin: 0px 50px;
    border-radius: 20px;
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 50px;
  }

  .list-inline-item {
    padding: 10px 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .list-inline-itme: hover {
    text-decoration-line: none;
    text-decoration-style: none;
  }

  .image {
    height: 350px;
    width: 350px;
    /* padding: 3px;
    border:3px solid #333; */
    border-radius: 20px;
  }

  span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 350px;
    left: 15px;
    top: -162px;
    position: absolute;
    width: 350px;
    opacity: 0;
    border-radius: 20px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  }

  span.text-content span {
    display: table-cell;
    text-align: center;
    font-size: 150%;
    font-family: Lato;
    font-weight: bolder;
    vertical-align: middle;
  }

  .list-inline-item:hover .text-content {
    opacity: 1;
  }

  a:link {
      text-decoration: none;
<<<<<<< HEAD
      color: #000;
=======
      color: #333;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
      font-weight: bolder;
      font-family: Lato;
  }
  a:visited {
      text-decoration: none;
<<<<<<< HEAD
      color: #000;
  }
  a:hover {
      text-decoration: none;
      color: #000;
  }
  a: active {
      text-decoration: none;
      color: #000;
=======
      color: #333;
  }
  a:hover {
      text-decoration: none;
      color: #333;
  }
  a: active {
      text-decoration: none;
      color: #333;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  .footer{
    position: relative;
    width: 100%;
  }

  .social-gp{
    text-align: center;
    vertical-align: center;
  }

  .social-gp a{
    color: #000;
    padding-right: 10px;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
  }

  .copyright {
    bottom: 0;
    position: relative;
    text-align: center;
    font-family: Lato;
    font-weight: bold;
  }
}




/* mobile version */

@media (max-width: 768px){
  body {
    background: #ffffff;
  }
<<<<<<< HEAD
  #lang-cn {
    text-align: center;
    margin-bottom: 30px;
  }
  #lang-cn a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
    width: 100%;
  }
  #lang-en {
    text-align: center;
    margin-bottom: 30px;
  }
  #lang-en a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border: solid 3px #000;
    padding: 5px;
    border-radius: 10px;
    color: #000;
    width: 100%;
  }
=======
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc

  .cap {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px 20px;
  }

  h1 {
    text-align: center;
    font-size: 600%;
    font-weight: bolder;
    font-family: Lato;
<<<<<<< HEAD
    color: #000;
=======
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  h6 {
    text-align: center;
    font-weight: bolder;
    font-family: Lato;
<<<<<<< HEAD
    color: #000;
=======
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  h3 {
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    font-family: Lato;
    font-variant: small-caps;
<<<<<<< HEAD
    color: #000;
  }

  h3 a {
    border-bottom: solid 2px #000;
=======
  }

  h3 a {
    border-bottom: solid 2px #333;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  .table{
    display: block;
    vertical-align: center;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .list-inline {
    background: #e9ecef;
    margin: 0px 10px;
    list-style-type: none;
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 50px;
    border-radius: 20px;
  }

  .list-inline-item {
    padding: 10px 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .list-inline-itme: hover {
    text-decoration-line: none;
    text-decoration-style: none;
  }

  .image {
    height: 350px;
    width: 350px;
    border-radius: 20px;
  }

  span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 350px;
    left: 15px;
    top: -162px;
    position: absolute;
    width: 350px;
    opacity: 0;
    border-radius: 20px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  }

  span.text-content span {
    display: table-cell;
    text-align: center;
    font-size: 150%;
    font-family: Lato;
    font-weight: bolder;
    vertical-align: middle;
  }

  .list-inline-item:hover .text-content {
    opacity: 1;
  }

  a:link {
      text-decoration: none;
<<<<<<< HEAD
      color: #000;
=======
      color: #333;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
      font-weight: bolder;
      font-family: Lato;
  }
  a:visited {
      text-decoration: none;
<<<<<<< HEAD
      color: #000;
  }
  a:hover {
      text-decoration: none;
      color: #000;
  }
  a: active {
      text-decoration: none;
      color: #000;
=======
      color: #333;
  }
  a:hover {
      text-decoration: none;
      color: #333;
  }
  a: active {
      text-decoration: none;
      color: #333;
>>>>>>> 57c8fb6443314a3b3233d277d9decf112f8660bc
  }

  .footer{
    position: relative;
    width: 100%;
  }

  .social-gp{
    text-align: center;
    vertical-align: center;
  }

  .social-gp a{
    color: #000;
    padding-right: 10px;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
  }

  .copyright {
    bottom: 0;
    position: relative;
    text-align: center;
    font-family: Lato;
    font-weight: bold;
  }
}
