body {
  height: 100%;
  width: 100%;
  height: auto;
  /* font-family: "Comic Sans MS", cursive, sans-serif, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif; */
}
.nav-link {
  color: white;
  font-weight: bolder;
}
.nav-link:hover {
  color: white;
}
.nav-link::after {
  color: white;
}
.container {
  margin-top: 50px;
  margin-bottom: 100px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.container h1 {
  font-weight: bolder;
  font-size: 60px;
}
.info-icon {
  color: black;
}
.info-icon:hover {
  color: black;
}
.info-icon::after {
  color: black;
}
.infolist th {
  font-size: 18px;
}
.infolist td {
  font-size: 18px;
  padding-left: 20px;
}
.contact {
  padding-top: 100px;
  text-align: center;
}
.contact-list {
  text-align: center;
  font-size: 18px;
}
.contact-list i {
  font-size: 40px;
  padding: 15px 5px 15px 5px;
}
.contact-icon {
  margin-bottom: 10px;
  margin-top: 10px;
}
.social {
  padding-right: 10px;
}
.footer {
  width: 100%;
}
.footer-item {
  float: right;
  color: white;
  font-size: 15px;
  float: right;
}
.copyright {
  float: left;
  left: 0;
  font-size: 12px;
  font-weight: bolder;
}
.footer-icon {
  float: right;
  right: 0;
  color: black;
  font-size: 20px;
  padding: 10px 5px;
  text-decoration: none;
}
.footer-icon:hover {
  color: black;
}
.footer-icon::after {
  color: black;
}
