body {
  height: 100%;
  width: 100%;
  height: auto;
  /* font-family: "Comic Sans MS", cursive, sans-serif, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif; */
}
.nav-link {
  color: white;
  font-weight: bolder;
}
.nav-link:hover {
  color: white;
}
.nav-link::after {
  color: white;
}
.container {
  margin-top: 50px;
  margin-bottom: 100px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.container h1 {
  font-weight: bolder;
  font-size: 60px;
}
.container h3 {
  font-weight: bolder;
  padding-top: 20px;
  text-decoration: underline;
}
.container h5 {
  padding-top: 10px;
}
@media only screen and (min-width: 1200px) {
  #resume1 {
    visibility: visible;
  }
  #resume2 {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 1200px) {
  #resume1 {
    display: none;
    visibility: hidden;
  }
  #resume2 {
    visibility: visible;
  }
}
.info-icon {
  color: black;
}
.info-icon:hover {
  color: black;
}
.info-icon::after {
  color: black;
}
.infolist th {
  font-size: 18px;
}
.infolist td {
  font-size: 18px;
  padding-left: 20px;
}
.contact {
  padding-top: 100px;
  text-align: center;
}
.contact-list {
  text-align: center;
  font-size: 18px;
}
.contact-list i {
  font-size: 40px;
  padding: 15px 5px 15px 5px;
}
.contact-icon {
  margin-bottom: 10px;
  margin-top: 10px;
}
.social {
  padding-right: 10px;
}
.footer {
  width: 100%;
  text-align: center;
  vertical-align: center;
  background: #555555;
}
.icons {
  padding: 30px 0px 10px 0px;
}
.footer-item {
  color: white;
  text-align: center;
  display: inline;
}
.footer-icon {
  color: white;
  font-size: 2vw;
  padding: 0px 5px;
  text-decoration: none;
}
.footer-icon:hover {
  color: white;
}
.footer-icon::after {
  color: white;
}
.copyright {
  padding: 10px 20px 30px 20px;
}
.copyright span {
  color: white;
  font-size: 1vw;
  font-weight: bolder;
}