body {
  height: 100%;
  width: 100%;
  height: auto;
  /* font-family: "Comic Sans MS", cursive, sans-serif, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif; */
}
.nav-link {
  color: white;
  font-weight: bolder;
}
.nav-link:hover {
  color: white;
}
.nav-link::after {
  color: white;
}
.container {
  margin-top: 50px;
  margin-bottom: 100px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.container h1 {
  font-weight: bolder;
  font-size: 2.5vw;
}
.container h3 {
  font-weight: bolder;
  margin: 30px 0px 30px 0px;
  font-size: 1.5vw;
  color:white;
  background-color: #555;
  border: 8px solid #555;
}
.container h5 {
  padding-top: 10px;
  text-decoration: underline;
}
.container span {
  font-size: 0.9vw;
  margin: 5px 5px;
}
.info-icon {
  color: black;
}
.info-icon:hover {
  color: black;
}
.info-icon::after {
  color: black;
}
.contact {
  padding-top: 100px;
  text-align: center;
}
.contact-list {
  text-align: center;
  font-size: 18px;
}
.contact-list i {
  font-size: 40px;
  padding: 15px 5px 15px 5px;
}
.contact-icon {
  margin-bottom: 10px;
  margin-top: 10px;
}
.social {
  padding-right: 10px;
}
.footer {
  width: 100%;
  text-align: center;
  vertical-align: center;
  background: #555555;
}
.icons {
  padding: 30px 0px 10px 0px;
}
.footer-item {
  color: white;
  text-align: center;
  display: inline;
}
.footer-icon {
  color: white;
  font-size: 2vw;
  padding: 0px 5px;
  text-decoration: none;
}
.footer-icon:hover {
  color: white;
}
.footer-icon::after {
  color: white;
}
.copyright {
  padding: 10px 20px 30px 20px;
}
.copyright span {
  color: white;
  font-size: 1vw;
  font-weight: bolder;
}
@media only screen and (max-width: 1200px) {
  .container h1 {
    font-weight: bolder;
    font-size: 6vw;
  }
  .container h3 {
    font-weight: bolder;
    margin-top: 20px;
    font-size: 5vw;
    color:white;
    background-color: #555;
    border: 8px solid #555;
  }
  .container h5 {
    padding-top: 10px;
    text-decoration: underline;
  }
  .container span {
    font-size: 2.5vw;
    margin: 5px 5px;
  }
  .option-img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 3px solid black;
  }
  .subcap span {
    font-size: 5vw;
    color:white;
    background-color: #555;
    border: 10px solid #555;
  }
  .option-gp p {
    text-decoration: none;
    margin-top: 10px;
    font-size: 3vw;
    color: #555;
    font-weight: bold;
  }
  .footer-icon {
    color: white;
    font-size: 4vw;
    padding: 0px 5px;
    text-decoration: none;
  }
  .copyright span {
    color: white;
    font-size: 3vw;
    font-weight: bolder;
  }
} 