#logo {
    width: 30px;
    height: 30px;
}

#headshot {
    width: 20vw;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box
}

#lang-switch {
    float: right;
}

.interests {
    padding-bottom: 20px;
}

.info-item-gp {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.info-item {
    color: #393b3c;
    display: inline-block;
}

@media (min-width:400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width:550px) {
    .container {
        width: 80%
    }
}

p {
    margin-top: 0
}

a {
    color: #1eaedb
}

a:hover {
    color: #0fa0ce
}

.header-content {
    padding: 10px 0 20px 0;
}

.header {
    color: #393b3c;
}

.langs ul {
    list-style-type: none
}

.row {
    margin: 1% 0
}

#icons {
    margin: auto auto;
    text-align: center;
}

.proj-ls {
    display: inline-block;
}

.footer-item {
    color: #393b3c;
    text-align: center;
    display: inline
}

#copyright {
    margin: 0 auto;
    text-align: center;
}