.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box
}

#lang-switch {
    float: right;
}

@media (min-width:400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width:550px) {
    .container {
        width: 80%
    }
}

.row {
    margin: 1% 0
}

#icons {
    margin: 0 auto;
    text-align: center;
}

.footer-item {
    color: #393b3c;
    text-align: center;
    display: inline
}

#copyright {
    margin: 0 auto;
    text-align: center;
}